* {

    margin: 0px;
}

body {
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

}

/* header */
.header-div1 {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}

.header-div2 {

    text-align: right;
    position: absolute;
    width: 600px;
    padding-right: 100px;
}

.header-btn {
    color: white;
    background-color: #F15B22;
    border-radius: 5px;
    padding: 22px 25px;
    border: none;
    font-size: 20px;
}


/* my failure */
.my-failure {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    padding: 100px 100px 100px 150px;


}

.my-failure-div {

    justify-content: center;
    align-items: center;
    padding: 100px 150px 100px 100px;

}

.my-failure-div2 {
    display: flex;
    gap: 10px;



}

.icon-color {
    color: #16D887;
}

/* My plans */
.my-plan {

    text-align: center;
    align-items: center;
}

.my-plan-div {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0px 230px;

}

.my-plan-div div {

    padding: 50px;

}

/* keep positive */
.keep-positive {
    margin-right: 450px;
    margin-bottom: 200px;
}

.keep-positive h2 {
    font-size: 40px;
    color: white;

}

.keep-positive-btn {
    border: none;
    background-color: #F15B22;
    color: white;
    padding: 20px 36px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
}

.keep-positive-img1 {
    position: absolute;
    z-index: -1;
}

.keep-positive-img2 {
    position: absolute;
    z-index: -1;
}

.keep-positive-div {
    display: flex;
    justify-content: center;
    position: relative;
}

.keep-positive-div-text {
    padding-top: 50px;
    padding-left: 50px;
    text-align: left;
}

/* plan 2023 */
.plan-2 {
    font-size: 30px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;

}

.plan-21 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.plan-22 {

    border-radius: 20px;
    padding: 50PX;
    margin: 50px;
    text-align: center;
    align-items: center;
    background-color: #c0e7ff;
}

.plan-22 ol {

    text-align: left;

}




/* footer */
footer {
    background-color: rgb(0, 0, 0);
}

.footer-div1 {
    display: flex;
    justify-content: start;

    color: white;
}

.footer-div2 {
    width: 50%;
    margin: 20px;
    padding: 50px;

}

footer h2 {
    font-size: 45px;
}

footer h3 {
    font-size: 30px;
}

.footer-btn {
    color: #F15B22;
    background-color: white;
    padding: 20px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-top: 15px;
}

.footer-mail {
    border: 2px solid #F3F3F3;
    width: 200px;
    border-radius: 5px;
    padding: 20px 158px 20px 20px;
}

.footer-icon {
    margin-top: 10px;
}

.footer-icon1 {
    padding-right: 20px;
    font-size: 30px;
    color: #ffffff;
}

.footer-icon2 {
    padding-right: 20px;
    font-size: 30px;
    color: #1DA1F2;

}

.footer-icon3 {
    font-size: 30px;
    color: #FF0000;
}